<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MusicLibrary.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>045FC3E61DBA7CCD00A56F3B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>045FC3FD1DBA7CCD00A56F3B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>045FC4081DBA7CCD00A56F3B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
